body {
  background-color: black; }

h1 {
  font-family: 'Audiowide', cursive;
  color: white;
  display: inline-block;
  color: white;
  border-bottom-width: 3px;
  border-color: orange;
  border-bottom-style: inset;
  margin-top: 2px; }

.introduction {
  background-image: url(../assets/img/banner_image.jpg);
  background-repeat: repeat !important;
  text-align: center; }

#header-image-section {
  padding-top: 10px;
  padding-bottom: 0px; }

#header_name {
  color: white;
  padding: 10px;
  border-width: 10px;
  border-color: red; }

#header_image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  opacity: 0.9; }

#divider, #important {
  color: orange; }

#brief {
  color: white !important;
  font-family: 'Audiowide', cursive;
  font-size: 20px; }

#navbar-flex-container {
  display: flex;
  justify-content: center;
  align-items: center; }

#navBar .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  font-family: 'Audiowide', cursive;
  color: white;
  text-transform: uppercase; }

#footer .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  font-family: 'Audiowide', cursive;
  color: white;
  text-transform: uppercase; }

#navBar, #footer {
  text-align: center;
  top: 0;
  left: 0;
  display: table; }

#navBar, #footer > li {
  width: auto;
  display: table-cell; }

#nav-fill-container {
  background-color: #d67d2f; }

#main-body {
  background-color: #4f5051 !important;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px; }

#welcome-submessage {
  font-family: 'Share Tech', sans-serif;
  font-size: 20px;
  color: white; }

#welcome-message {
  font-family: 'Share Tech', sans-serif;
  font-size: 30px;
  color: white; }

#country-names {
  font-family: 'Share Tech', sans-serif;
  font-size: 23px;
  color: white; }

.bg-primary {
  background-color: #d67d2f !important; }

#emphasize {
  color: #d1d1d1;
  font-weight: bold;
  font-size: italic; }

#footer {
  margin-top: 7px;
  margin-bottom: 7px;
  font-weight: 600;
  font-family: 'Audiowide', cursive;
  color: white;
  text-transform: uppercase;
  background: #292b2d; }

#footer-fill-wrapper {
  background-color: #292b2d; }

.fa {
  padding-left: 40px;
  padding-right: 40px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%; }

.fa-facebook, .fa-google, .fa-linkedin, .fa-github {
  color: white; }

#timeline-entry {
  background-color: #35383a;
  margin: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px; }

#underline {
  color: white; }

u {
  color: orange; }

/*.fa-google {
  color: white;
}

.fa-linkedin {
  color: white;
}

.fa-github {
  color: white;
}*/
/*.WORKINPROGRESS {
  padding-top: 20px;
  font-family: 'Audiowide', cursive;
  font-size: 100px;
  text-align: center;
  color: white; 
}

#wip {
  color: white;
  padding-bottom: 20px;
}*/
