body {
  background-color: black; }

h1, h2, h3, h4, h5 {
  font-family: 'Audiowide', cursive;
  color: white; }

#navbar_my_name {
  font-family: 'Audiowide', cursive;
  align-items: center;
  color: white;
  padding-right: 10px;
  padding-left: 10px;
  border-width: 10px;
  border-color: white; }

.navbar-image {
  padding-top: 20px;
  text-align: center;
  width: 100%; }

#navbar_my_picture {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  opacity: 0.9; }

.introduction {
  background-image: url(../img/banner_image.jpg);
  background-repeat: repeat !important; }

.navbar-header {
  padding-top: 10px;
  text-align: center;
  width: 100%; }

#divider, #important {
  color: orange; }

.WORKINPROGRESS {
  padding-top: 20px;
  font-family: 'Audiowide', cursive;
  font-size: 100px;
  text-align: center;
  color: white; }
